{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="utf-8">

    <title>ViaStore - Multi Vendor &amp; Marketplace</title>

    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Linearicons/Linearicons/Font/demo-files/demo.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick/slick/slick.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/lightGallery-master/dist/css/lightgallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'css/market-place-1.css' %}">
</head>

<body>
    <header class="header header--standard header--market-place-1 " data-sticky="true">
        <div class="header__top">
            <div class="container">
                <div class="header__left">
                    <p>Welcome to ViaStore!</p>
                </div>
                <div class="header__right">
                    <ul class="header__top-links">
                        <li><a href="#">Store Location</a></li>



                    </ul>
                </div>
            </div>
        </div>
        <div class="header__content">
            <div class="container">
                <div class="header__content-left">
                    <div class="menu--product-categories">
                        <div class="menu__toggle "><i class="icon-menu"></i><span> Shop by Category</span></div>

                    </div><a class="ps-logo" href="index.html"><img src="{% static 'img/logo1.png' %}" alt=""></a>
                </div>
                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="" method="get">
                        <div class="form-group--icon"><i class="icon-chevron-down"></i>

                        </div>
                        <input class="form-control" type="text" placeholder="I'm shopping for...">
                        <button>Search</button>
                    </form>
                </div>
                <div class="header__content-right">
                    <div class="header__actions"><a class="header__extra" href="#"><i class="icon-heart"></i><span><i>0</i></span></a>
                        <div class="ps-cart--mini"><a class="header__extra" href="#"><i class="icon-bag2"></i><span><i>0</i></span></a>


                            </div>
                        </div>
                        <div class="ps-block--user-header">
                            <div class="ps-block__left"><i class="icon-user"></i></div>
                            <div class="ps-block__right"><a href="/Store/login">Login</a><a href="/Store/login">Register</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navigation">
            <div class="container">
                <div class="navigation__left">
                    <div class="menu--product-categories">
                        <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Department</span></div><br></div></div></div></nav>
    </header>



    <div class="ps-page--my-account">
        <div class="ps-breadcrumb">
            <div class="container">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li>My account</li>
                </ul>
            </div>
        </div>
        <div class="ps-my-account">
            <div class="container">
                <div class="ps-form--account ps-tab-root">
                    <ul class="ps-tab-list">
                        <li class="active"><a href="#sign-in">Login</a></li>
                        <li><a href="#register">Register</a></li>
                    </ul>

                    <div class="ps-tabs">
                        <div class="ps-tab active" id="sign-in">
                            <div class="ps-form__content">
                                <h5>Log In Your Account</h5>
                                <form method="post">
                                    {% csrf_token %}

                                <div class="form-group">
                                    <input class="form-control" type="text" name="username" placeholder="Username or email address">
                                </div>
                                <div class="form-group form-forgot">
                                    <input class="form-control" type="password" name="password" placeholder="Password"><a href="#">Forgot?</a>
                                </div>

                                <div class="form-group submtit">
                                    <button class="ps-btn ps-btn--fullwidth" type="submit" name='submit' value='sign_in' >Login</button>
                                </div>
                                </form>

                            <div class="ps-form__footer">
                                <p>Connect with:</p>
                                <ul class="ps-list--social">
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>
                            </div>
                        </div>
                        <div class="ps-tab" id="register">
                            <div class="ps-form__content">
                                <h5>Register An Account</h5>
                                <form method="post">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    <p>
                                        <br>
                                        {{ field }}

                                        {% for error in field.errors %}
                                            <p style="color: red">{{ error }}</p>
                                        {% endfor %}
                                    </p>
                                    {% endfor %}
                                    <div class="form-group submtit">
                                        <button class="ps-btn ps-btn--fullwidth" type="submit"  name='register' value='sign_up' >Register</button>
                                    </div>

                            </form>
                            <div class="ps-form__footer">
                                <p>Connect with:</p>
                                <ul class="ps-list--social">
                                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a class="google" href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a class="instagram" href="#"><i class="fa fa-instagram"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>


    <div id="back2top"><i class="pe-7s-angle-up"></i></div>
    <div class="ps-site-overlay"></div>
    <div id="loader-wrapper">
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="ps-search" id="site-search"><a class="ps-btn--close" href="#"></a>
        <div class="ps-search__content">
            <form class="ps-form--primary-search" action="" method="post">
                <input class="form-control" type="text" placeholder="Search for...">
                <button><i class="aroma-magnifying-glass"></i></button>
            </form>
        </div>
    </div>
    <script src="{% static 'plugins/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'plugins/popper.min.js' %}"></script>
    <script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap4/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.matchHeight-min.js' %}"></script>

    <script src="{% static 'plugins/slick/slick/slick.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'plugins/slick-animation.min.js' %}"></script>
    <script src="{% static 'plugins/lightGallery-master/dist/js/lightgallery-all.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'plugins/sticky-sidebar/dist/sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
   <!-- <script src="{% static 'plugins/gmap3.min.js' %}"></script>-->
    <!-- custom scripts-->
    <script src="{% static 'js/main.js' %}"></script>

</body>



</html>
