
{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">


<head>
    <meta charset="utf-8">

    <title>ViaStore - Multi Vendor &amp; Marketplace</title>

    <link rel="stylesheet" href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/Linearicons/Linearicons/Font/demo-files/demo.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap4/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl-carousel/assets/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/slick/slick/slick.css'%}">
    <link rel="stylesheet" href="{% static 'plugins/lightGallery-master/dist/css/lightgallery.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/select2/dist/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
    <link rel="stylesheet" href="{% static 'css/market-place-1.css' %}">
</head>

<body>
    <header class="header header--standard header--market-place-1 " data-sticky="true">
        <div class="header__top">
            <div class="container">
                <div class="header__left">
                    <p>Welcome to ViaStore!</p>
                </div>
                <div class="header__right">
                    <ul class="header__top-links">
                        <li><a href="#">Store Location</a></li>



                    </ul>
                </div>
            </div>
        </div>
        <div class="header__content">
            <div class="container">
                <div class="header__content-left">
                    <div class="menu--product-categories">
                        <div class="menu__toggle "><i class="icon-menu"></i><span> Shop by Category</span></div>

                    </div><a class="ps-logo" href="index.html"><img src="{% static 'img/logo1.png' %}" alt=""></a>
                </div>
                <div class="header__content-center">
                    <form class="ps-form--quick-search" action="" method="get">
                        <div class="form-group--icon"><i class="icon-chevron-down"></i>

                        </div>
                        <input class="form-control" type="text" placeholder="I'm shopping for...">
                        <button>Search</button>
                    </form>
                </div>
                <div class="header__content-right">
                    <div class="header__actions"><a class="header__extra" href="#"><i class="icon-heart"></i><span><i>0</i></span></a>
                        <div class="ps-cart--mini"><a class="header__extra" href="#"><i class="icon-bag2"></i><span><i>0</i></span></a>


                            </div>
                        </div>
                        <div class="ps-block--user-header">
                            <div class="ps-block__left"><i class="icon-user"></i></div>
                            <div class="ps-block__right"><h5>Welcome {{ request.user.username }}</h5></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navigation">
            <div class="container">
                <div class="navigation__left">
                    <div class="menu--product-categories">
                        <div class="menu__toggle"><i class="icon-menu"></i><span> Shop by Department</span></div></div></div></div></nav>
    </header>
    <br>
    <br>
    <div class="ps-home-categories">
            <div class="container">
                <div class="ps-section__header">
                    <h3>Top Categories</h3>
                </div>
                <div class="ps-section__content">
                    <div class="row align-content-lg-stretch">

                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-block--category-2" data-mh="categories">
                                <div class="ps-block__thumbnail"><img src="{% static 'img/categories/shop/1.jpg' %}" alt=""></div>
                                <div class="ps-block__content">
                                    <h4>Clothings </h4>
                                    <ul>
                                        <li><a href="shop-default.html">Womens</a></li>
                                        <li><a href="shop-default.html">Mens</a></li>
                                        <li><a href="shop-default.html">Bags & Backpacks</a></li>
                                        <li><a href="shop-default.html">Accessories</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>



                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-12 ">
                            <div class="ps-block--category-2" data-mh="categories">
                                <div class="ps-block__thumbnail"><img src="{% static 'img/categories/shop/10.jpg' %}" alt=""></div>
                                <div class="ps-block__content">
                                    <h4>Food & Grocery</h4>
                                    <ul>
                                        <li><a href="shop-default.html">Food</a></li>
                                        <li><a href="shop-default.html">Grocery</a></li>
                                        <li><a href="shop-default.html">Dairy Products</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
   <div class="ps-product-list ps-clothings">
            <div class="ps-container">
                <div class="ps-section__header">
                    <h3>New Arrivals</h3>

                </div>

                <div class="ps-section__content">
                    <div class="ps-carousel--nav owl-slider" data-owl-auto="false" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="true" data-owl-dots="true" data-owl-item="7" data-owl-item-xs="2" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-item-xl="6" data-owl-duration="1000" data-owl-mousedrag="on">
                        {% for k in ob %}

                        <div class="ps-product">
                            <div class="ps-product__thumbnail"><a href="/Store/productdetail/{{ k.id }}"><img src="{{ k.imag.url }}" alt=""></a>

                                <ul class="ps-product__actions">
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Read More"><i class="icon-bag2"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Quick View"><i class="icon-eye"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Add to Whishlist"><i class="icon-heart"></i></a></li>
                                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Compare"><i class="icon-chart-bars"></i></a></li>
                                </ul>
                            </div>
                            <div class="ps-product__container"><a class="ps-product__vendor" href="#">{{k.ven_id.user}}</a>
                                <div class="ps-product__content"><a class="ps-product__title" href="product-default.html">{{ k.prod_tittle}}</a>


                                    <div class="ps-product__rating">
                                        <select class="ps-rating" data-read-only="true">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="2">5</option>
                                        </select><span>01</span>
                                    </div>
                                    <p class="ps-product__price sale">{{ k.price }}</p>
                                </div>
                                <div class="ps-product__content hover"><a class="ps-product__title" href="product-default.html">{{k.prod_tittle</a>
                                    <p class="ps-product__price sale">{{ k.price }}</p>
                                </div>
                            </div>
                        </div>


                       {% endfor %}
                        </div>


                </div>
            </div>






<script src="{% static 'plugins/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'plugins/popper.min.js' %}"></script>
    <script src="{% static 'plugins/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'plugins/bootstrap4/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'plugins/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/masonry.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.matchHeight-min.js' %}"></script>
    <script src="{% static 'plugins/slick/slick/slick.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-bar-rating/dist/jquery.barrating.min.js' %}"></script>
    <script src="{% static 'plugins/slick-animation.min.js' %}"></script>
    <script src="{% static 'plugins/lightGallery-master/dist/js/lightgallery-all.min.js' %}"></script>
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'plugins/sticky-sidebar/dist/sticky-sidebar.min.js' %}"></script>
    <script src="{% static 'plugins/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'plugins/select2/dist/js/select2.full.min.js' %}"></script>
   <!-- <script src="{% static 'plugins/gmap3.min.js' %}"></script>-->
    <!-- custom scripts-->
    <script src="{% static 'js/main.js' %}"></script>

</body>



</html>
